<html lang="pl">

<head>
	<!-- Search Console -->
	
	
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<h1 style="color:green"> Zanurzeni w zieleni </h1>



<a href="{% url 'apka:home' %}"> APKA </a>


{% block content %}	

<p> to bedzie super portal</p>
<a href="{% url 'apka:topics' %}"> Artykuły </a>
<br> <br>

<a href="https://zanurzeniwzieleni.herokuapp.com/admin/"> To jest penel admina </a>
<p> hasło i login to: Sabina123 - litera "S" pisana jest z dużej litery, to można zmienić kiedy chcesz </p>
{% endblock content%}	