{% extends "apka/base.html" %}	

{% block content %}	
<div class="container_db"  style="box-shadow:0 12px 6px -6px #4CAF50; margin-bottom:20px;">
<span  class="h1_db">Współpraca</span>
</div>


<div class="container_db" >	
		<div class='a_2'>
		<center>
		<span class="h1_db">Napisz dla nas</span><br><br>
		<a target='_blank' href='mailto:zanurzeniwzieleni@gmail.com'><img  style='' alt='Follow by Email' title='Follow by Email' src='https://analizafinansowa.s3.eu-west-2.amazonaws.com/EMIAL.png' width='40' height='40'/></a>
		</center>		
		</div>
		
		
			<div class='b_2'>
				<center>
					<span class="h1_db">Weź udział w projekcie</span><br><br>

					...
					<br><br><br>
					
		
				</center>
			</div>
		


			<div  class='c_2'>
				<center>
					<span  style="text-align:justify;" class="h1_db">Zacznij tworzyć </span><br><br>

				
					...
					<br><br><br>
					
		
				</center>
					
		
				
			</div>

</div>
{% endblock content %}