{% extends "apka/base.html" %}	

{% block content %}	

<span  class="h1_db">Współpraca</span>


	<div class='a_2'>
	<span class="h1_db">Pisz dla nas</span><br><br>
	<a target='_blank' href='mailto:zanurzeniwzieleni@gmail.com'><img  style='' alt='Follow by Email' title='Follow by Email' src='https://analizafinansowa.s3.eu-west-2.amazonaws.com/EMIAL.png' width='40' height='40'/></a>
				<a target='_blank' href='https://www.facebook.com/Zanurzeni-w-Zieleni-101338568357878/' ><img style='' alt='Facebook' title='Facebook' src='https://analizafinansowa.s3.eu-west-2.amazonaws.com/FB.png' width='40' height='40'/></a>
				<a target='_blank' href='https://www.instagram.com/zanurzeniwzieleni/' ><img style=''; text-align:right;'  alt='Instagram' title='Instagram' src='https://analizafinansowa.s3.eu-west-2.amazonaws.com/INSTAGRAM.png' width='40' height='40'/></a>
	</div>
	
	
		<div class='b_2'>
			<center>
				<span class="h1_db">Weź udział w projekcie</span><br><br>

				...
				<br><br><br>
				
	
			</center>
		</div>
	


		<div  class='c_2'>
			<center>
				<span  style="text-align:justify;" class="h1_db">Zacznij tworzyć pod naszym okiem</span><br><br>

			
				...
				<br><br><br>
				
	
			</center>
				
	
			
		</div>


{% endblock content %}