
<style>
input {
  width: 40%;
  
}


</style>

{% extends "apka/base.html" %}	

{% block content %}	

<center>
<form method='post' action="/search/">

{% csrf_token %}
<input type='text' name="srh"  placeholder='Wyszukaj...'/>
<br>


<input type='submit' class="btn btn-outline-info " value='Wyszukaj' />
</form>



<div>
{% if messages %}
	<div class="messanges">
	{% for k in messages %}
	<ol>{{k}}</ol>
	{% endfor %}
	</div>
{% endif %}
</div>

<div>
	{% if sr %}
		{% for x in sr %}
		<ol> 
		<a href="{% url 'apka:topic' x.id %}">{{ x }}</a>
		</ol>

		{% endfor %}
		
	{% endif %}
</div>
</center>
{% endblock content %}