
{% extends "apka/base.html" %}	


{% block content %}	
<div class='a'>
	<div class="laptop">

		<div style="text-align:center; font-size: 20px;">
			{% for y in entries %}

				<img src="{{ y.foto }}" width="{{ y.width }}" height="{{ y.height }}" </img>	

					<p>{{ y.date_added|date:'M d,Y H:i' }}</p>
				<div style="text-align:justify;	margin:10px;">
					<span style=" font-size:15px;">{{ y.text }}</span>
				</div>
			{% empty %}

				Pracujemy nad tym ...

			{% endfor %}

		
			</div>
	</div>	
		


	<div class="telefon">

		<div style="text-align:center; font-size: 20px;">
			{% for y in entries %}

					<img src="{{ y.foto }}" width="80%" height="" </img>	

					<p>{{ y.date_added|date:'M d,Y H:i' }}</p>
					<div style="text-align:justify;	margin:10px;">
					<span style="font-size:15px;">{{ y.text }}</span>
				</div>
			{% empty %}

				Pracujemy nad tym ...

			{% endfor %}

		
			</div>

	</div>	
</div>	
{% endblock content %}