{% extends "apka/base.html" %}	





{% block content %}	
<span  class="h1_db">Warte polecenia:</span>
	<div class='a_2'>
	<span class="h1_db">Książki</span><br><br>
		...
				<br><br><br>
	</div>
	
	
		<div class='b_2'>
			<center>
				<span class="h1_db">Rośliny </span><br><br>

				...
				<br><br><br>
				
	
			</center>
		</div>
	


		<div class='c_2'>
			<center>
				<span class="h1_db">Nawozy</span><br><br>

				...
				<br><br><br>
				
	
			</center>
		</div>
	







{% endblock content %}